<header class="main-layout full">
    <div [ngClass]="isHeaderFilterActive ? 'header-content filter-active' : 'header-content'">
        <div class="logo" routerLink="/">
            <img src="https://res.cloudinary.com/ddwfxqxwh/image/upload/v1695407243/xgo942z6uwi1jmtul28r.png" alt="">
            <h3 style="font-weight: 500; padding-left: 10px;">FYL</h3>
        </div>
        <nav>
            <!-- <div class="home-nav" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> -->
            <div class="home-nav" style="margin-right: 40px !important; border: 1px solid rgba(0,0,0,0.1)" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <span>Encontre seu local</span>
            </div>
            <!-- <div (click)="onToggleLanguageModal()">
                <span class="language material-symbols-outlined">language</span>
            </div> -->
            <div class="menu" (click)="onToggleHeaderMenuModal()">
                <fa-icon [icon]="faBars"></fa-icon>
                <img [src]="getUserImg()" alt="">
                <span *ngIf="UserNotification" class="notification">{{UserNotification}}</span>

                <artist-header-menu-modal (onToggleHeaderMenuModal)="onToggleHeaderMenuModal()" (toggleLanguageModal)="onToggleLanguageModal()"
                [isOpenLanguageModal]="isOpenLanguageModal" [isOpenFooter]="false"
                *ngIf="isShowHeaderMenuModal"></artist-header-menu-modal>
            </div>
        </nav>
    </div>
    <artist-header-filter *ngIf="isShowFilter" [isHeaderFilterActive]="isHeaderFilterActive"
        (toggleHeaderFilter)="toggleHeaderFilter()"></artist-header-filter>
</header>

<language-modal (onToggleLanguageModal)="onToggleLanguageModal()" *ngIf="isOpenLanguageModal"></language-modal>
